<body fxLayout="column" fxLayoutAlign="center center">
  <header fxLayout="column" fxLayoutAlign=" center"> Locally weather app</header>
    <form [formGroup]="zipcodeForm" div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
            <mat-label>Enter Zip Code</mat-label>
            <input matInput placeholder="Enter Zip Code" formControlName="zipcode">
            <mat-icon (click)="submit()" matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-slide-toggle (click)="changeUnits()" class="navbar-button">showing: {{units}}°</mat-slide-toggle>
    </form>

    <h1>City: {{currentWeather.location.name}}</h1>

    <div *ngIf="units == 'F'" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Today</h2>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-card-title fxLayoutAlign="space-around center">{{currentDate}}</mat-card-title>
                        <fa-icon class="icon" [icon]="getWeatherIcon(currentWeather.current.condition.text)"></fa-icon>
                        <mat-card-content>{{currentWeather.current.condition.text}}</mat-card-content>
                        <mat-card-content>Current: {{currentWeather.current.temp_f}}°</mat-card-content>
                        <mat-card-content>Feels Like: {{currentWeather.current.feelslike_f}}°</mat-card-content>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="column" fxLayoutAlign="space-around start">
                    <mat-card-content>Wind: {{currentWeather.current.wind_mph}} mph</mat-card-content>
                    <mat-card-content>Wind Direction: {{currentWeather.current.wind_dir}}</mat-card-content>
                    <mat-card-content>Humidity: {{currentWeather.current.humidity}} %</mat-card-content>
                    <mat-card-content>Precipitation: {{currentWeather.current.precip_in}} in</mat-card-content>
                    <mat-card-content>Visibility: {{currentWeather.current.vis_miles}} mi</mat-card-content>
                    <mat-card-content>UV: {{currentWeather.current.uv}}</mat-card-content>
                </div>
            </mat-expansion-panel>
        </div>

        <div *ngFor="let day of days">
            <mat-expansion-panel class="days" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="column" fxLayoutAlign="center center">
                        <mat-card-title fxLayoutAlign="space-around center">{{day.date}}</mat-card-title>
                        <fa-icon class="icon" [icon]="getWeatherIcon(day.day.condition.text)"></fa-icon>
                        <mat-card-content>{{day.day.condition.text}}</mat-card-content>
                        <mat-card-content>Max: {{day.day.maxtemp_f}}°</mat-card-content>
                        <mat-card-content>Min: {{day.day.mintemp_f}}°</mat-card-content>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="column" fxLayoutAlign="space-around start">
                    <mat-card-content>Avg: {{day.day.avgtemp_f}}°</mat-card-content>
                    <mat-card-content>Wind: {{day.day.maxwind_mph}} mph</mat-card-content>
                    <mat-card-content>Humidity: {{day.day.avghumidity}}%</mat-card-content>
                    <mat-card-content>Rain: {{day.day.daily_chance_of_rain}}%</mat-card-content>
                    <mat-card-content>Snow: {{day.day.daily_chance_of_snow}}%</mat-card-content>
                    <mat-card-content>UV: {{day.day.uv}}</mat-card-content>
                </div>
            </mat-expansion-panel>
        </div>
    </div>

    <!-- celcius -->
    <div *ngIf="units == 'C'" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Today</h2>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="column" fxLayoutAlign="center center">
                        <mat-card-title fxLayoutAlign="space-around center">{{currentDate}}</mat-card-title>
                        <fa-icon class="icon" [icon]="getWeatherIcon(currentWeather.current.condition.text)"></fa-icon>
                        <mat-card-content>{{currentWeather.current.condition.text}}</mat-card-content>
                        <mat-card-content>Current: {{currentWeather.current.temp_c}}</mat-card-content>
                        <mat-card-content>Feels Like: {{currentWeather.current.feelslike_c}}</mat-card-content>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="column" fxLayoutAlign="space-around start">
                    <mat-card-content>Wind: {{currentWeather.current.wind_kph}} kph</mat-card-content>
                    <mat-card-content>Wind Direction: {{currentWeather.current.wind_dir}}</mat-card-content>
                    <mat-card-content>Humidity: {{currentWeather.current.humidity}} %</mat-card-content>
                    <mat-card-content>Precipitation: {{currentWeather.current.precip_mm}} mm</mat-card-content>
                    <mat-card-content>Visibility: {{currentWeather.current.vis_km}} km</mat-card-content>
                    <mat-card-content>UV: {{currentWeather.current.uv}}</mat-card-content>
                </div>
            </mat-expansion-panel>
        </div>

        <div *ngFor="let day of days">
            <mat-expansion-panel class="days" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="column" fxLayoutAlign="center center">
                        <mat-card-title fxLayoutAlign="space-around center">{{day.date}}</mat-card-title>
                        <fa-icon class="icon" [icon]="getWeatherIcon(day.day.condition.text)"></fa-icon>
                        <mat-card-content>{{day.day.condition.text}}</mat-card-content>
                        <mat-card-content>Max: {{day.day.maxtemp_c}}</mat-card-content>
                        <mat-card-content>Min: {{day.day.mintemp_c}}</mat-card-content>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div fxLayout="column" fxLayoutAlign="space-around start">
                    <mat-card-content>Avg: {{day.day.avgtemp_c}}°</mat-card-content>
                    <mat-card-content>Wind: {{day.day.maxwind_kph}} kph</mat-card-content>
                    <mat-card-content>Humidity: {{day.day.avghumidity}} %</mat-card-content>
                    <mat-card-content>Rain: {{day.day.daily_chance_of_rain}} %</mat-card-content>
                    <mat-card-content>Snow: {{day.day.daily_chance_of_snow}} %</mat-card-content>
                    <mat-card-content>UV: {{day.day.uv}}</mat-card-content>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</body>
