<p>homepage works!</p>

<div fxLayout="column" fxLayoutAlign="space-around center" >
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <form [formGroup]="zipcodeForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Zip Code</mat-label>
                <input matInput placeholder="Enter Zip Code" formControlName="zipcode">
                <mat-icon (click)="submit()" matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>

    <div *ngFor="let day of days" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
        <mat-card>
            <mat-card-title>{{day.date}}</mat-card-title>
            <mat-card-content>{{day.day.condition.text}}</mat-card-content>
            <mat-card-content>average temp: {{day.day.avgtemp_f}}</mat-card-content>
            <mat-card-content>{{day.day.avgvis_miles}}</mat-card-content>
            <mat-card-content>Simple card</mat-card-content>
            <mat-card-content>Simple card</mat-card-content>
            <mat-card-content>Simple card</mat-card-content>
            <mat-card-content>Simple card</mat-card-content>
        </mat-card>
    </div>
</div>
